@import './ColumnAddition.css';

.colarith-item-tall {
  min-height: 196px;
}

.colarith-partial-row {
  min-height: 30px;
}

.colarith-line-final {
  margin-top: 5px;
}

@media print {
  .colarith-item-tall {
    min-height: 178px;
  }

  .colarith-partial-row {
    min-height: 26px;
  }
}
